<!DOCTYPE html>
<html>
<body>
<div>
    <b><a href="/users">Cancel</a></b>
</div>
<div>
    <h1>New User</h1>
    <form method="post">
        <p>Name</p>
        <input type="text" name="name" placeholder="Enter name"/>
        <p>Email</p>
        <input type="text" name="email" placeholder="Enter email"/>
        <p>Nickname</p>
        <input type="text" name="nickname" placeholder="Enter nickname"/>

        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>