<!DOCTYPE html>
<html>
<body>
<div>
    <b><a href="findAll">Cancel</a></b>
</div>
<div>
    <h1>New Movie</h1>
    <form method="post">
        <p>Name</p>
        <input type="text" name="name" placeholder="Enter name"/>
        <p>Year</p>
        <input type="number" name="year" placeholder="Enter year"/>
        <p>Country</p>
        <input type="text" name="country" placeholder="Enter country"/>
        <p>Genre</p>
        <input type="text" name="genre" placeholder="Enter genre"/>
        <p>Description</p>
        <input type="text" name="description" placeholder="Enter description"/>
        <p>Rating</p>
        <input type="number" step="0.01" name="rating" placeholder="Enter rating"/>
        <p>Price</p>
        <input type="number" step="0.01" name="price" placeholder="Enter price"/>

        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>