<!DOCTYPE html>
<html>
<body>
<div>
    <b><a href="/genres">Cancel</a></b>
</div>
<div>
    <h1>New Genre</h1>
    <form method="post" action="/addGenre">
        <p>Name</p>
        <input type="text" name="name" placeholder="Enter name"/>

        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>