<!DOCTYPE html>
<html>
<body>
<div>
    <b><a href="/reviews">Cancel</a></b>
</div>
<div>
    <h1>New Review</h1>
    <form method="post">
        <p>Movie</p>
        <input type="text" name="movie" placeholder="Enter movie"/>
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter username"/>
        <p>Text</p>
        <input type="text" name="text" placeholder="Enter text"/>

        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>