<!DOCTYPE html>
<html>
<body>
<div>
    <b><a href="/">Back</a></b>
    <b><a href="/addGenre">Create new</a></b>
    <b><a href="/deleteAllGenres">Clear all</a></b>
</div>
<h1>Genres</h1>
<div>
    <form enctype="multipart/form-data" method="post">
        Create genres from file
        <input type="file" name="file">
        <input type="submit" value="Send">
    </form>
</div>
<div>
    <table border="1">
        <tr>
            <th><b>Id</b></th>
            <th>Name</th>
        </tr>
        {{#genres}}
            <tr>
                <td><b>{{id}}</b></td>
                <td>{{name}}</td>
                <td><a href="/updateGenre/{{id}}">Update</a></td>
                <td><a href="/deleteGenre/{{id}}">Delete</a></td>
            </tr>
        {{/genres}}
    </table>
</div>
</body>
</html>