<!DOCTYPE html>
<html>
<body>
<div>
    <b><a href="/">Back</a></b>
    <b><a href="add">Create new</a></b>
    <b><a href="deleteAll">Clear all</a></b>
</div>
<h1>Movies</h1>
<div>
    <form enctype="multipart/form-data" method="post">
        Create movies from file
        <input type="file" name="file">
        <input type="submit" value="Send">
    </form>
    <form enctype="multipart/form-data" method="post" action="JSON">
        Create genres from JSON
        <input type="file" name="file" accept="application/json">
        <input type="submit" value="Send">
    </form>
</div>
<div>
    <table border="1">
        <tr>
            <th><b>Id</b></th>
            <th>Name</th>
            <th>Year</th>
            <th>Country</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Price</th>

        </tr>
        {{#movies}}
            <tr>
                <td><b>{{id}}</b></td>
                <td>{{name}}</td>
                <td>{{year}}</td>
                <td>{{country}}</td>
                <td>{{genre}}</td>
                <td>{{description}}</td>
                <td>{{rating}}</td>
                <td>{{price}}</td>
                <td><a href="update/{{id}}">Update</a></td>
                <td><a href="delete/{{id}}">Delete</a></td>
            </tr>
        {{/movies}}
    </table>
</div>
</body>
</html>