<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Hello, {{name}}</div>
<p><a href="/genres/findAll">Genres</a>
    <a href="/genres/JSON">Get JSON</a></p>
<p><a href="/movies/findAll">Movies</a>
    <a href="/movies/JSON">Get JSON</a></p>
<p><a href="/reviews/findAll">Reviews</a>
    <a href="/reviews/JSON">Get JSON</a></p>
<p><a href="/users/findAll">Users</a>
    <a href="/users/JSON">Get JSON</a></p>
</body>
</html>